@import "variables.scss";

/* ARTICLE PAGE STYLES */

#article-page {
  background-color: #202020;
  padding: 2% 5%;
  @include flex(flex-start, stretch, column);
  min-height: 80vh;
  margin-top: 84px;

  @media screen and (max-width: 768px) {
    padding: 2% 2% 5%;
  }
  @media screen and (max-width: 500px) {
    padding: 2% 2% 5%;
  }

  #articleContent {
    height: 0;
    width: 0;
  }
  .article-actions {
    width: 100%;
    @include flex(flex-start, center);
    max-width: 1200px;
    margin: 0 auto 10px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 83px;
    background-color: #202020a8;
    padding: 10px 0;
  }

  .article {
    border-radius: 8px;
    background-color: #171717;
    padding: 3% 5%;
    max-width: 1200px;
    margin: auto;

    /****** Header ******/
    .article-header {
      @include flex(flex-start, stretch, column);
      gap: 10px;

      .chips-wrapper {
        @include flex(flex-end, center);
        gap: 10px;

        .chip {
          background-color: #282828;
        }
      }

      .article-title {
        @include font($bold, 32px, #fff);

        @media screen and (max-width: 768px) {
          font-size: 28px;
        }
        @media screen and (max-width: 550px) {
          font-size: 24px;
        }
      }
      .article-description {
        @include font($medium, 18px, $grey);

        @media screen and (max-width: 550px) {
          font-size: 16px;
        }
      }

      .cover-img {
        @include flex(flex-start, stretch, column);
        margin-top: 6px;

        .cover-img-wrapper {
          max-height: 580px;
          width: 100%;
          overflow: hidden;
          border-radius: 4px;
        }
      }
    }

    /****** Content ******/
    .article-content {
      width: 100%;
      @include flex(flex-start, stretch, column);
      gap: 30px;
      margin-top: 40px;

      @media screen and (max-width: 768px) {
        gap: 20px;
      }
    }

    /* Footer */
    .article-footer {
      @include flexcenter();
      padding: 5%;
      border-top: 1px dotted $grey;
      margin-top: 50px;
    }
  }
}

/********************* Classes for article ***************************************************************/

.a-text {
  @include font($regular, 18px, $text-color);
  line-height: 24px;
  letter-spacing: 0.03em;
}
.a-heading {
  @include font($bold, 32px, #fff);
  margin: 10px 0;
  letter-spacing: 0.5px;
}
.a-subheading {
  @include font($bold, 22px, #fff);
  margin: 6px 0;
  letter-spacing: 0.5px;
  line-height: 28px;
}
.a-list {
  list-style-type: disc;
  margin-left: 40px;
}
.a-list-item {
  @include font($regular, 18px, $text-color);
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.a-link {
  @include font($medium, 18px, $blue);
  text-decoration: underline;

  @media (hover: hover) {
    &:hover {
      color: $light-blue;
      text-decoration: underline;
    }
  }
}
.a-image {
  @include flex(flex-start, flex-start, column);

  .img-wrapper {
    border-radius: 2px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-height: 700px;
  }
}
.small {
  max-height: 300px;
  max-width: 300px;
}
.medium {
  max-height: 500px;
  max-width: 500px;
}
.large {
  max-height: 600px;
  max-width: 600px;
}
.a-caption {
  margin-left: 40px;
  border-left: 4px solid $blue;
  @include flex(flex-start, stretch, column);
  gap: 6px;

  .a-caption-text {
    @include font($medium, 16px, #b4b4b4);
    font-style: italic;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-left: 16px;
  }
  .a-caption-author {
    @include font($regular, 14px, #b4b4b4);
    font-style: italic;
    line-height: 24px;
    letter-spacing: 0.03em;
    align-self: flex-end;
  }
}

/********************* Media Queries ***************************************************************/

@media screen and (max-width: 768px) {
  .a-text {
    font-size: 16px;
  }
  .a-heading {
    font-size: 28px;
  }
  .a-subheading {
    margin: 6px 0;
    font-size: 18px;
  }
  .a-list-item {
    font-size: 16px;
  }
  .a-link {
    font-size: 16px;
  }
}
