@import "variables.scss";

/*******************************************************************************************************************/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: #000;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
  height: 100%;
  font-family: "Satoshi", sans-serif;
}
main {
  width: 100vw;
  height: auto;
}

section {
  width: 100vw;
}

ul {
  list-style-type: none;
}

button,
button:focus {
  background-color: transparent;
  border: 0;
  outline: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/******************* Text styles ******************/

h1 {
  @include font($black, 64px, #fff);
  line-height: 114%;
  /* or 73px */
  letter-spacing: 0.01em;

  @media screen and (max-width: 768px) {
    font-size: 46px;
  }
  @media screen and (max-width: 500px) {
    font-size: 42px;
  }
}

h2 {
  @include font($black, 52px, #fff);
  line-height: 59px;
  letter-spacing: 0.01em;
  text-align: center;

  @media screen and (max-width: 850px) {
    font-size: 38px;
    line-height: 42px;
  }
}

p {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
}

/******************* Buttons ******************/

.btn-primary {
  height: 40px;
  border-radius: 2px;
  background-color: #000;
  @include font($medium, 18px, #fff);
  @include flexcenter();
  gap: 6px;
  width: fit-content;
  padding: 0 12px;
  cursor: pointer;

  &:focus {
    color: #fff;
  }

  @media (hover: hover) {
    &:hover {
      background-color: #414141;
      color: $lighter-blue;
      filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1));
    }
  }
}

.btn-secondary {
  height: 40px;
  border-radius: 2px;
  background-color: $lighter-blue;
  @include font($medium, 18px, #000);
  @include flexcenter();
  gap: 6px;
  width: fit-content;
  padding: 0 12px;

  @media (hover: hover) {
    &:hover {
      background-color: $blue;
      filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1));
    }
  }
}

.btn-read {
  @include font($bold, 16px, #c1c1c1);
  text-decoration: underline;
  @media (hover: hover) {
    &:hover {
      color: $light-blue;
    }
  }
  &:focus {
    color: #fff;
  }
}

.btn-icon {
  padding: 0 30px;
  img {
    width: auto;
    height: auto;
    max-height: 14px;
  }
}

/******************* Images ******************/

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/****************************************** Header ******************************************/

header {
  width: 100vw;
  height: 84px;
  background-color: $grey-header;
  @include flex(flex-start, stretch, column);
  position: fixed;
  top: 0;
  z-index: 3;

  .top-header {
    padding: 0 5%;
    background-color: #0e0e0e;
    height: 34px;
    width: 100%;
    @include flex(flex-start, center);
    border-bottom: 1px solid #000;

    @media screen and (max-width: 520px) {
      padding: 0 3%;
    }

    ul {
      @include flex(flex-start, center);
      gap: 36px;

      @media screen and (max-width: 520px) {
        gap: 20px;
      }
      @media screen and (max-width: 400px) {
        gap: 10px;
      }
    }

    .product-menu-item a {
      @include font($regular, 14px, #646363);
      white-space: nowrap;

      @media screen and (max-width: 400px) {
        font-size: 13px;
      }

      @media (hover: hover) {
        &:hover {
          color: $light-blue;
        }
      }
    }
    .product-menu-item.disabled a {
      color: #646363;
      cursor: default;
    }
    .product-menu-item.active a {
      color: $lighter-blue;
    }
  }

  .bottom-header {
    height: 50px;
    padding: 0% 5%;
    background-color: #151515;
    @include flex(space-between, center);
    width: 100%;
    border-bottom: 1px solid #0e0e0e;

    @media screen and (max-width: 520px) {
      padding: 0 3%;
    }

    .logo-and-text {
      @include flex(flex-start, center);
      gap: 10px;

      #main-logo {
        height: 30px;
        width: auto;
      }
      #logo-name {
        height: 18px;
        width: auto;

        @media screen and (max-width: 520px) {
          height: 14px;
        }
        @media screen and (max-width: 400px) {
          display: none;
        }
      }
    }

    #desktop-menu {
      ul {
        @include flex(flex-end, center);
        gap: 20px;

        .menu-item a {
          @include font($medium, 16px, #858585);
          white-space: nowrap;

          @media (hover: hover) {
            &:hover {
              color: $light-blue;
            }
          }
        }
        .menu-item.active a {
          color: $light-blue;
        }
      }
    }

    li.menu-item img {
      height: 26px;
      width: 26px;
    }

    .menu-git {
      @include flexcenter();
      border-radius: 50%;
      height: 25px;
      width: 26px;

      @media (hover: hover) {
        &:hover {
          background-color: $light-blue;
        }
      }

      a {
        @include flexcenter();
      }
    }

    /* revisto até aqui */
    .disabled a {
      cursor: default;
      color: var(--grey) !important;
    }

    .menu-item.disabled:hover {
      cursor: default;
      background: var(--grey);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    span#coming-text {
      color: var(--grey);
    }
  }
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Mobile Menu */

#mobile-menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--black);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#mobile-menu.open {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

#mobile-menu ul {
  width: 90%;
  margin: auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mobile-menu-item {
  padding: 20px;
  text-align: center;
}

#mobile-menu a {
  font-size: 16px;
  font-size: 1.6rem;
  color: var(--lightgrey);
  text-align: center;
}

@media (hover: hover) {
  #mobile-menu a:hover {
    color: #ef445f;
  }

  #mobile-menu .mobile-menu-item.disabled a:hover {
    color: var(--grey);
  }
}

/* Icon Menu Hamb. Animation */

#icon-hamburguer {
  display: none;
  width: 28px;
  height: 18px;
  z-index: 11;
  /* margin: 50px auto; */
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 11;
}

#icon-hamburguer span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--black);
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#icon-hamburguer.open span {
  background: var(--lightgrey);
}

#icon-hamburguer span:nth-child(1) {
  top: 0px;
}

#icon-hamburguer span:nth-child(2),
#icon-hamburguer span:nth-child(3) {
  top: 8px;
}

#icon-hamburguer span:nth-child(4) {
  top: 16px;
}

#icon-hamburguer.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#icon-hamburguer.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#icon-hamburguer.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#icon-hamburguer.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

/********************* 1st Section - Banner ***************************************************************/

section#banner {
  min-height: calc(100vh - 60px);
  @include flex(stretch, stretch);
  background-image: url(../assets/images/bg-banner.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-top: 84px;

  .overlay {
    background-color: rgba(0, 0, 0, 0.537);
    width: 100%;
    height: auto;
    padding: 10%;
  }
  .banner-wrapper {
    @include flex(center, flex-start, column);
    max-width: 700px;
    width: 100%;

    p.description {
      @include font($bold, 18px, #8ca7b1);
      line-height: 26px;
      margin: 20px 0;
      line-height: 24px;
      letter-spacing: 0.01em;
      @media screen and (max-width: 500px) {
        margin: 10px 0;
      }
    }
  }
}

/********************* 2st Section - Solutions ***************************************************************/

#solutions {
  background-image: url(../assets/images/bg-solutions.jpg);
  background-size: cover;
  margin: 0;
  padding: 6%;
  @include flex(center, stretch, column);
  gap: 50px;
  min-height: 80vh;

  @media screen and (max-width: 900px) {
    padding: 4% 5%;
    gap: 30px;
  }

  @media screen and (max-width: 768px) {
    padding: 10%;
  }

  .img-holder.revault {
    background-image: url(../assets/images/cover_revault.jpg);
  }
  .img-holder.liana {
    background-image: url(../assets/images/cover_liana.jpg);
  }
  .img-holder.bunker {
    background-image: url(../assets/images/cover_bunker.jpg);
  }

  .img-holder {
    background-position: center;
    background-size: cover;
    @include flex(stretch, stretch);
    aspect-ratio: 1/1;

    @media screen and (max-width: 800px) {
      aspect-ratio: 1/0.6;
    }

    .overlay {
      width: 100%;
      height: auto;
      background: rgba(30, 30, 30, 0.56);
      @include flexcenter();

      img {
        width: 100%;
        max-width: 60%;
        max-height: 46px;
      }
    }
  }
  .card-text-area {
    background-color: #181818;

    h4 {
      @include font($black, 36px, #fcfcfc);
      line-height: 49px;
      letter-spacing: 0.01em;

      @media screen and (max-width: 850px) {
        font-size: 28px;
      }
    }
    p {
      @include font($regular, 15px, #a8a8a8);
      line-height: 22px;
      letter-spacing: 0.01em;
    }
  }
}
.corner-coming-soon {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 100%;
  height: 60%;
  background: rgba(0, 0, 0, 0.72);
  clip-path: polygon(0 0, 100% 50%, 100% 0);
  @include flex(flex-start, flex-end, column);
  padding: 10px 10px;

  h5 {
    @include font($bold, 22px, #e6e6e6);
  }
  span {
    @include font($regular, 15px, #a6a6a6);
  }
}

/********************* 3rd Section - Contact  ***************************************************************/

#contact {
  background-color: #bbc5c9;
  padding: 6% 10%;
  @include flex(center, center, column);
  gap: 20px;

  @media screen and (max-width: 600px) {
    padding: 5%;
    gap: 10px;
  }

  h2 {
    color: #131c20;
  }

  .contact-description {
    @include font($bold, 18px, #4a4a4a);
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    max-width: 500px;

    @media screen and (max-width: 600px) {
    }
  }
}

/********************* 4th Section - Blog - Recent  ***************************************************************/

#blog-recent {
  background-color: #bbc5c9;
  padding: 6% 5%;
  background-color: #151515;
  gap: 60px;
  @include flex(center, stretch, column);

  @media screen and (max-width: 900px) {
    padding: 4% 5%;
    gap: 30px;
  }

  @media screen and (max-width: 768px) {
    padding: 10%;
  }

  h2 {
    text-align: left;
    color: #fff;
  }

  .card {
    background-color: #1e1e1e;

    .card-text-area {
      @include flex(flex-start, flex-start, column);
      gap: 10px;
    }

    .img-holder {
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .chips-wrapper {
        position: absolute;
        right: 10px;
        top: 10px;
        @include flex(flex-end, center);
        gap: 10px;

        .chip {
          font-size: 13px;
        }
      }
    }
    h4 {
      @include font($bold, 24px, #fff);
      line-height: 31px;
      letter-spacing: 0.01em;

      @media screen and (max-width: 600px) {
        font-size: 22px;
        line-height: 28px;
      }
    }
    p {
      @include font($medium, 18px, #868686);
      line-height: 24px;
      letter-spacing: 0.01em;

      @media screen and (max-width: 600px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

/* Used in multiple sections */
.flex-grid {
  @include flex(center, stretch);
  gap: 5%;
  max-width: 1000px;
  margin: auto;

  @media screen and (max-width: 900px) {
    gap: 20px;
  }

  @media screen and (max-width: 800px) {
    flex-wrap: wrap;
  }

  .card {
    @include flex(flex-start, stretch, column);
    width: 33.3%;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    min-width: 240px;

    @media screen and (max-width: 800px) {
      max-width: 350px;
      width: 100%;
    }

    .card-text-area {
      padding: 20px;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
  }
}

.chip {
  background-color: #171717;
  border-radius: 4px;
  padding: 6px 10px;
  @include font($bold, 14px, $light-blue);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/********************* Footer ***************************************************************/

footer {
  @include flex(space-between, center);
  padding: 4% 10%;
  background-color: #0e0e0e;
  border-top: 1px solid;

  @media screen and (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 10%;
  }
  @media screen and (max-width: 500px) {
    gap: 40px;
  }

  .logo-wrapper {
    @include flex(flex-start, flex-start, column);
    gap: 12px;

    @media screen and (max-width: 500px) {
      align-items: center;
    }

    img {
      width: 66px;
      height: auto;
      align-self: center;
    }
    .logo-name {
      font-family: "Rubik", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 0.5%;
      font-size: 26px;
    }
    #credits {
      @include font($light, 14px, #fff);
    }
  }
  .footer-menu {
    @include flex(flex-end, flex-start);
    gap: 60px;

    @media screen and (max-width: 500px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }

    .each-col {
      h6 {
        @include font($medium, 14px, rgb(189, 189, 189));
        margin-bottom: 10px;
      }
      ul {
        @include flex(flex-start, flex-start, column);
        gap: 12px;

        li {
          @include font($medium, 15px, rgb(189, 189, 189));
          &:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
        .disabled {
          color: grey;
          &:hover {
            text-decoration: none;
            color: grey;
            a {
              cursor: default;
            }
          }
        }
      }
      .icons-holder {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 10px;
        .a-icon {
          @include flexcenter();
          border-radius: 50%;
          width: 30px;
          height: 30px;
          &:hover {
            background-color: $blue;
          }
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}

/********************* Media Queries ************************************************************/
