@charset "UTF-8";
@import "../assets/font/font.css";
:root {
  --black: #2e2e2e;
  --revault_gradient: linear-gradient(44.91deg, #ef445f -5.12%, #ff8415 92.6%);
  --grey: #7b7b7b;
  --lightgrey: #f5f5f5;
  --white: #ffffff;
  --shadowCards: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  /* New variables */
  --grey-header: #1d1d1d;
}

/*******************************************************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: #000;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
  height: 100%;
  font-family: "Satoshi", sans-serif;
}

main {
  width: 100vw;
  height: auto;
}

section {
  width: 100vw;
  min-height: 80vh;
  margin-top: 84px;
}

ul {
  list-style-type: none;
}

button,
button:focus {
  background-color: transparent;
  border: 0;
  outline: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/******************* Text styles ******************/
p {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
}

/******************* Buttons ******************/
.btn-primary {
  height: 40px;
  border-radius: 2px;
  background-color: #000;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  gap: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 12px;
}
@media (hover: hover) {
  .btn-primary:hover {
    background-color: #414141;
    color: #c3dfea;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1));
  }
}

.btn-secondary {
  height: 40px;
  border-radius: 2px;
  background-color: #c3dfea;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  gap: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 12px;
}
@media (hover: hover) {
  .btn-secondary:hover {
    background-color: #5ba9c8;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1));
  }
}

/******************* Images ******************/
.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/****************************************** Header ******************************************/
header {
  width: 100vw;
  height: 84px;
  background-color: #1d1d1d;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 3;
}
header .top-header {
  padding: 0 5%;
  background-color: #0e0e0e;
  height: 34px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #000;
}
header .top-header ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 36px;
}
header .top-header .product-menu-item a {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #646363;
}
@media (hover: hover) {
  header .top-header .product-menu-item a:hover {
    color: #b0def0;
  }
}
header .top-header .product-menu-item.active a {
  color: #c3dfea;
}
header .bottom-header {
  height: 50px;
  padding: 0% 5%;
  background-color: #151515;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #0e0e0e;
  /* revisto até aqui */
}
header .bottom-header .logo-and-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
header .bottom-header .logo-and-text #main-logo {
  height: 30px;
  width: auto;
}
header .bottom-header .logo-and-text #logo-name {
  height: 18px;
  width: auto;
}
header .bottom-header #desktop-menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
header .bottom-header #desktop-menu ul .menu-item a {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #858585;
  white-space: nowrap;
}
@media (hover: hover) {
  header .bottom-header #desktop-menu ul .menu-item a:hover {
    color: #b0def0;
  }
}
header .bottom-header #desktop-menu ul .menu-item.active a {
  color: #b0def0;
}
header .bottom-header li.menu-item img {
  height: 26px;
  width: 26px;
}
header .bottom-header .menu-git {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  border-radius: 50%;
  height: 25px;
  width: 26px;
}
@media (hover: hover) {
  header .bottom-header .menu-git:hover {
    background-color: #b0def0;
  }
}
header .bottom-header .menu-git a {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
}
header .bottom-header .disabled a {
  cursor: default;
  color: var(--grey) !important;
}
header .bottom-header .menu-item.disabled:hover {
  cursor: default;
  background: var(--grey);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .bottom-header span#coming-text {
  color: var(--grey);
}

.flex-start {
  display: flex;
}

/* Mobile Menu */
#mobile-menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--black);
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out 0s;
}

#mobile-menu.open {
  transform: translateY(0%);
}

#mobile-menu ul {
  width: 90%;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobile-menu-item {
  padding: 20px;
  text-align: center;
}

#mobile-menu a {
  font-size: 16px;
  font-size: 1.6rem;
  color: var(--lightgrey);
  text-align: center;
}

@media (hover: hover) {
  #mobile-menu a:hover {
    color: #ef445f;
  }
  #mobile-menu .mobile-menu-item.disabled a:hover {
    color: var(--grey);
  }
}
/* Icon Menu Hamb. Animation */
#icon-hamburguer {
  display: none;
  width: 28px;
  height: 18px;
  z-index: 11;
  /* margin: 50px auto; */
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 11;
}

#icon-hamburguer span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--black);
  border-radius: 4px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#icon-hamburguer.open span {
  background: var(--lightgrey);
}

#icon-hamburguer span:nth-child(1) {
  top: 0px;
}

#icon-hamburguer span:nth-child(2),
#icon-hamburguer span:nth-child(3) {
  top: 8px;
}

#icon-hamburguer span:nth-child(4) {
  top: 16px;
}

#icon-hamburguer.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#icon-hamburguer.open span:nth-child(2) {
  transform: rotate(45deg);
}

#icon-hamburguer.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#icon-hamburguer.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

/* 1st Section - Banner */
section#banner {
  min-height: calc(100vh - 60px);
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  background-image: url(../assets/images/bg-banner.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.banner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  max-width: 1100px;
  margin: auto;
  width: 100%;
}

.intro-container {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  flex: 1;
}

.img-holder-banner {
  flex: 1;
  max-width: 450px;
}

.img-holder-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.intro-container .btn-primary {
  width: 100%;
}

p.description {
  font-size: 16px;
  font-size: 1.6rem;
  color: var(--black);
  line-height: 26px;
  margin: 20px 0;
}

.btn-2 {
  display: none;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 4% 10%;
  background-color: #151515;
}
footer .logo-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}
footer .logo-wrapper img {
  width: 66px;
  height: auto;
  align-self: center;
}
footer .logo-wrapper .logo-name {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.5%;
  font-size: 26px;
}
footer .logo-wrapper #credits {
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}
footer .footer-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  gap: 60px;
}
footer .footer-menu .each-col h6 {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgb(189, 189, 189);
  margin-bottom: 10px;
}
footer .footer-menu .each-col ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}
footer .footer-menu .each-col ul li {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: rgb(189, 189, 189);
}
footer .footer-menu .each-col ul li:hover {
  color: #fff;
  text-decoration: underline;
}
footer .footer-menu .each-col ul .disabled {
  color: grey;
}
footer .footer-menu .each-col ul .disabled:hover {
  text-decoration: none;
  color: grey;
}
footer .footer-menu .each-col ul .disabled:hover a {
  cursor: default;
}
footer .footer-menu .each-col .icons-holder {
  display: flex;
  gap: 10px;
}
footer .footer-menu .each-col .icons-holder .a-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
footer .footer-menu .each-col .icons-holder .a-icon:hover {
  background-color: #5ba9c8;
}
footer .footer-menu .each-col .icons-holder .a-icon img {
  width: 30px;
  height: 30px;
}/*# sourceMappingURL=style.css.map */