@charset "UTF-8";
@import "../assets/font/font.css";
:root {
  --black: #2e2e2e;
  --revault_gradient: linear-gradient(44.91deg, #ef445f -5.12%, #ff8415 92.6%);
  --grey: #7b7b7b;
  --lightgrey: #f5f5f5;
  --white: #ffffff;
  --shadowCards: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  /* New variables */
  --grey-header: #1d1d1d;
}

/*******************************************************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: #000;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
  height: 100%;
  font-family: "Satoshi", sans-serif;
}

main {
  width: 100vw;
  height: auto;
}

section {
  width: 100vw;
}

ul {
  list-style-type: none;
}

button,
button:focus {
  background-color: transparent;
  border: 0;
  outline: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/******************* Text styles ******************/
h1 {
  font-family: "Satoshi", sans-serif;
  font-weight: 900;
  font-size: 64px;
  color: #fff;
  line-height: 114%;
  /* or 73px */
  letter-spacing: 0.01em;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 46px;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 42px;
  }
}

h2 {
  font-family: "Satoshi", sans-serif;
  font-weight: 900;
  font-size: 52px;
  color: #fff;
  line-height: 59px;
  letter-spacing: 0.01em;
  text-align: center;
}
@media screen and (max-width: 850px) {
  h2 {
    font-size: 38px;
    line-height: 42px;
  }
}

p {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
}

/******************* Buttons ******************/
.btn-primary {
  height: 40px;
  border-radius: 2px;
  background-color: #000;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  gap: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 12px;
  cursor: pointer;
}
.btn-primary:focus {
  color: #fff;
}
@media (hover: hover) {
  .btn-primary:hover {
    background-color: #414141;
    color: #c3dfea;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1));
  }
}

.btn-secondary {
  height: 40px;
  border-radius: 2px;
  background-color: #c3dfea;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  gap: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 12px;
}
@media (hover: hover) {
  .btn-secondary:hover {
    background-color: #5ba9c8;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1));
  }
}

.btn-read {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #c1c1c1;
  text-decoration: underline;
}
@media (hover: hover) {
  .btn-read:hover {
    color: #b0def0;
  }
}
.btn-read:focus {
  color: #fff;
}

.btn-icon {
  padding: 0 30px;
}
.btn-icon img {
  width: auto;
  height: auto;
  max-height: 14px;
}

/******************* Images ******************/
.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/****************************************** Header ******************************************/
header {
  width: 100vw;
  height: 84px;
  background-color: #1d1d1d;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 3;
}
header .top-header {
  padding: 0 5%;
  background-color: #0e0e0e;
  height: 34px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #000;
}
@media screen and (max-width: 520px) {
  header .top-header {
    padding: 0 3%;
  }
}
header .top-header ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 36px;
}
@media screen and (max-width: 520px) {
  header .top-header ul {
    gap: 20px;
  }
}
@media screen and (max-width: 400px) {
  header .top-header ul {
    gap: 10px;
  }
}
header .top-header .product-menu-item a {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #646363;
  white-space: nowrap;
}
@media screen and (max-width: 400px) {
  header .top-header .product-menu-item a {
    font-size: 13px;
  }
}
@media (hover: hover) {
  header .top-header .product-menu-item a:hover {
    color: #b0def0;
  }
}
header .top-header .product-menu-item.disabled a {
  color: #646363;
  cursor: default;
}
header .top-header .product-menu-item.active a {
  color: #c3dfea;
}
header .bottom-header {
  height: 50px;
  padding: 0% 5%;
  background-color: #151515;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #0e0e0e;
  /* revisto até aqui */
}
@media screen and (max-width: 520px) {
  header .bottom-header {
    padding: 0 3%;
  }
}
header .bottom-header .logo-and-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
header .bottom-header .logo-and-text #main-logo {
  height: 30px;
  width: auto;
}
header .bottom-header .logo-and-text #logo-name {
  height: 18px;
  width: auto;
}
@media screen and (max-width: 520px) {
  header .bottom-header .logo-and-text #logo-name {
    height: 14px;
  }
}
@media screen and (max-width: 400px) {
  header .bottom-header .logo-and-text #logo-name {
    display: none;
  }
}
header .bottom-header #desktop-menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
header .bottom-header #desktop-menu ul .menu-item a {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #858585;
  white-space: nowrap;
}
@media (hover: hover) {
  header .bottom-header #desktop-menu ul .menu-item a:hover {
    color: #b0def0;
  }
}
header .bottom-header #desktop-menu ul .menu-item.active a {
  color: #b0def0;
}
header .bottom-header li.menu-item img {
  height: 26px;
  width: 26px;
}
header .bottom-header .menu-git {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  border-radius: 50%;
  height: 25px;
  width: 26px;
}
@media (hover: hover) {
  header .bottom-header .menu-git:hover {
    background-color: #b0def0;
  }
}
header .bottom-header .menu-git a {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
}
header .bottom-header .disabled a {
  cursor: default;
  color: var(--grey) !important;
}
header .bottom-header .menu-item.disabled:hover {
  cursor: default;
  background: var(--grey);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .bottom-header span#coming-text {
  color: var(--grey);
}

.flex-start {
  display: flex;
}

/* Mobile Menu */
#mobile-menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--black);
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out 0s;
}

#mobile-menu.open {
  transform: translateY(0%);
}

#mobile-menu ul {
  width: 90%;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobile-menu-item {
  padding: 20px;
  text-align: center;
}

#mobile-menu a {
  font-size: 16px;
  font-size: 1.6rem;
  color: var(--lightgrey);
  text-align: center;
}

@media (hover: hover) {
  #mobile-menu a:hover {
    color: #ef445f;
  }
  #mobile-menu .mobile-menu-item.disabled a:hover {
    color: var(--grey);
  }
}
/* Icon Menu Hamb. Animation */
#icon-hamburguer {
  display: none;
  width: 28px;
  height: 18px;
  z-index: 11;
  /* margin: 50px auto; */
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 11;
}

#icon-hamburguer span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--black);
  border-radius: 4px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#icon-hamburguer.open span {
  background: var(--lightgrey);
}

#icon-hamburguer span:nth-child(1) {
  top: 0px;
}

#icon-hamburguer span:nth-child(2),
#icon-hamburguer span:nth-child(3) {
  top: 8px;
}

#icon-hamburguer span:nth-child(4) {
  top: 16px;
}

#icon-hamburguer.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#icon-hamburguer.open span:nth-child(2) {
  transform: rotate(45deg);
}

#icon-hamburguer.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#icon-hamburguer.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

/********************* 1st Section - Banner ***************************************************************/
section#banner {
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: row;
  background-image: url(../assets/images/bg-banner.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-top: 84px;
}
section#banner .overlay {
  background-color: rgba(0, 0, 0, 0.537);
  width: 100%;
  height: auto;
  padding: 10%;
}
section#banner .banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
}
section#banner .banner-wrapper p.description {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #8ca7b1;
  line-height: 26px;
  margin: 20px 0;
  line-height: 24px;
  letter-spacing: 0.01em;
}
@media screen and (max-width: 500px) {
  section#banner .banner-wrapper p.description {
    margin: 10px 0;
  }
}

/********************* 2st Section - Solutions ***************************************************************/
#solutions {
  background-image: url(../assets/images/bg-solutions.jpg);
  background-size: cover;
  margin: 0;
  padding: 6%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 50px;
  min-height: 80vh;
}
@media screen and (max-width: 900px) {
  #solutions {
    padding: 4% 5%;
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  #solutions {
    padding: 10%;
  }
}
#solutions .img-holder.revault {
  background-image: url(../assets/images/cover_revault.jpg);
}
#solutions .img-holder.liana {
  background-image: url(../assets/images/cover_liana.jpg);
}
#solutions .img-holder.bunker {
  background-image: url(../assets/images/cover_bunker.jpg);
}
#solutions .img-holder {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: row;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 800px) {
  #solutions .img-holder {
    aspect-ratio: 1/0.6;
  }
}
#solutions .img-holder .overlay {
  width: 100%;
  height: auto;
  background: rgba(30, 30, 30, 0.56);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
}
#solutions .img-holder .overlay img {
  width: 100%;
  max-width: 60%;
  max-height: 46px;
}
#solutions .card-text-area {
  background-color: #181818;
}
#solutions .card-text-area h4 {
  font-family: "Satoshi", sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #fcfcfc;
  line-height: 49px;
  letter-spacing: 0.01em;
}
@media screen and (max-width: 850px) {
  #solutions .card-text-area h4 {
    font-size: 28px;
  }
}
#solutions .card-text-area p {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #a8a8a8;
  line-height: 22px;
  letter-spacing: 0.01em;
}

.corner-coming-soon {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 100%;
  height: 60%;
  background: rgba(0, 0, 0, 0.72);
  -webkit-clip-path: polygon(0 0, 100% 50%, 100% 0);
          clip-path: polygon(0 0, 100% 50%, 100% 0);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px 10px;
}
.corner-coming-soon h5 {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #e6e6e6;
}
.corner-coming-soon span {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #a6a6a6;
}

/********************* 3rd Section - Contact  ***************************************************************/
#contact {
  background-color: #bbc5c9;
  padding: 6% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 600px) {
  #contact {
    padding: 5%;
    gap: 10px;
  }
}
#contact h2 {
  color: #131c20;
}
#contact .contact-description {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4a4a4a;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: center;
  max-width: 500px;
}
/********************* 4th Section - Blog - Recent  ***************************************************************/
#blog-recent {
  background-color: #bbc5c9;
  padding: 6% 5%;
  background-color: #151515;
  gap: 60px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}
@media screen and (max-width: 900px) {
  #blog-recent {
    padding: 4% 5%;
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  #blog-recent {
    padding: 10%;
  }
}
#blog-recent h2 {
  text-align: left;
  color: #fff;
}
#blog-recent .card {
  background-color: #1e1e1e;
}
#blog-recent .card .card-text-area {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
#blog-recent .card .img-holder {
  position: relative;
}
#blog-recent .card .img-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#blog-recent .card .img-holder .chips-wrapper {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
#blog-recent .card .img-holder .chips-wrapper .chip {
  font-size: 13px;
}
#blog-recent .card h4 {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  line-height: 31px;
  letter-spacing: 0.01em;
}
@media screen and (max-width: 600px) {
  #blog-recent .card h4 {
    font-size: 22px;
    line-height: 28px;
  }
}
#blog-recent .card p {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #868686;
  line-height: 24px;
  letter-spacing: 0.01em;
}
@media screen and (max-width: 600px) {
  #blog-recent .card p {
    font-size: 16px;
    line-height: 20px;
  }
}

/* Used in multiple sections */
.flex-grid {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  gap: 5%;
  max-width: 1000px;
  margin: auto;
}
@media screen and (max-width: 900px) {
  .flex-grid {
    gap: 20px;
  }
}
@media screen and (max-width: 800px) {
  .flex-grid {
    flex-wrap: wrap;
  }
}
.flex-grid .card {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  width: 33.3%;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  min-width: 240px;
}
@media screen and (max-width: 800px) {
  .flex-grid .card {
    max-width: 350px;
    width: 100%;
  }
}
.flex-grid .card .card-text-area {
  padding: 20px;
  flex: 1;
}

.chip {
  background-color: #171717;
  border-radius: 4px;
  padding: 6px 10px;
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #b0def0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/********************* Footer ***************************************************************/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 4% 10%;
  background-color: #0e0e0e;
  border-top: 1px solid;
}
@media screen and (max-width: 700px) {
  footer {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 10%;
  }
}
@media screen and (max-width: 500px) {
  footer {
    gap: 40px;
  }
}
footer .logo-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}
@media screen and (max-width: 500px) {
  footer .logo-wrapper {
    align-items: center;
  }
}
footer .logo-wrapper img {
  width: 66px;
  height: auto;
  align-self: center;
}
footer .logo-wrapper .logo-name {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.5%;
  font-size: 26px;
}
footer .logo-wrapper #credits {
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}
footer .footer-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  gap: 60px;
}
@media screen and (max-width: 500px) {
  footer .footer-menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
footer .footer-menu .each-col h6 {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgb(189, 189, 189);
  margin-bottom: 10px;
}
footer .footer-menu .each-col ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}
footer .footer-menu .each-col ul li {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: rgb(189, 189, 189);
}
footer .footer-menu .each-col ul li:hover {
  color: #fff;
  text-decoration: underline;
}
footer .footer-menu .each-col ul .disabled {
  color: grey;
}
footer .footer-menu .each-col ul .disabled:hover {
  text-decoration: none;
  color: grey;
}
footer .footer-menu .each-col ul .disabled:hover a {
  cursor: default;
}
footer .footer-menu .each-col .icons-holder {
  display: flex;
  gap: 10px;
}
footer .footer-menu .each-col .icons-holder .a-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
footer .footer-menu .each-col .icons-holder .a-icon:hover {
  background-color: #5ba9c8;
}
footer .footer-menu .each-col .icons-holder .a-icon img {
  width: 30px;
  height: 30px;
}

/********************* Media Queries ************************************************************//*# sourceMappingURL=style.css.map */